.Head {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;

  width: 100%;
  display: flex;

  border-bottom: 2px solid #F1F1F1;
}

.name {
  margin-right: auto;
}

.date {
  margin-right: 1.5rem;
}

.time {

}